/* IMPORT */

nav#menu {

@media (max-width: 992px) {
position: fixed;
top: $header-height;
bottom: 0;
background: $op-teal;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
overflow: auto;
}

	.menu-primary-container {
	width: 100%;
	
		ul.menu {
		padding: 0;
		margin: 0;
		list-style: none;
		//font-weight: $font-weight-bold;

		@media (max-width: 992px) {
		overflow: auto;

		/* margin-top: 1rem;
		border-top: 1px #000 solid;
		padding-top: 1rem; */
		} 
			> li {
			display: block;
				@media (min-width: 992px) {
				margin-left: 0.75rem;
				display: inline;
				float: left;
				}
				
				> a {
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				display: inline-block;
				opacity: 0.5;
				transition: $transition;
					&:hover {
					opacity: 1;
					}

				}
				&.current-menu-item a {
				opacity: 1;
				}

			}
		}

	}
}
